<%= form_with(model:[@book, @book_comment], local: true) do |f| %>
<div class="form-group">
  <p>
    <%= f.text_area :comment, rows:'5' %>
  </p>
  <p>
    <%= f.submit "送信" %>
  </p>
</div>
<% end %>